In [ ]:
from sklearn import tree
features = [[10,18,25] , 
[12,36,32] , 
[5,50,10] , 
[53,0,0] , 
[15,45,12] , 
[18,5,17] , 
[0,68,27] , 
[22,37,8] , 
[27,15,18] , 
[19,21,0] , 
[15,1,10] , 
[25,8,10] ,
[16,10,5] , 
[24,0,0] , 
[22,6,12] , 
[25,0,10] , 
[26,4,0] , 
[19,9,11] , 
[20,7,15] , 
[17,2,7]]
labels = [0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(features , labels)
output_01 = clf.predict([[25 , 8 , 31]])
output_02 = clf.predict([[45 , 5 , 2]])
output_03 = clf.predict([[16 , 10 , 13]])

In [ ]:
print(output_01)
if(output_01 == 0):
  print("False")
elif(output_01 == 1):
  print("True")

[0]
False

In [ ]:
print(output_02)
if(output_02 == 0):
  print("False")
elif(output_02 == 1):
  print("True")

[0]
False

In [ ]:
print(output_03)
if(output_03 == 0):
  print("False")
elif(output_03 == 1):
  print("True")

[1]
True

In [ ]:
import pandas as pd

In [ ]:
covidData = pd.read_csv("Covid.csv")

In [ ]:
covidData

    Temperature  Headache  TasteBuds  Target
0          42.0         0          0       0
1          48.0         1          0       0
2          41.5         1          0       0
3          40.6         0          1       0
4          45.3         0          0       0
5          42.6         1          0       0
6          50.9         1          0       0
7          41.1         0          0       0
8          45.7         0          1       0
9          39.8         0          0       0
10         39.7         0          0       0
11         49.1         1          0       0
12         44.2         1          0       0
13         44.9         1          0       0
14         50.1         0          1       0
15         37.0         1          1       1
16         37.1         0          1       1
17         37.2         1          1       1
18         36.8         1          1       1
19         37.5         1          1       1
20         37.9         1          0       1
21         37.8         0          1       1
22         38.0         0          1       1
23         37.4         0          1       1
24         37.3         1          0       1
25         37.6         1          1       1
26         38.1         1          1       1
27         37.7         1          1       1
28         38.3         1          0       1
29         38.2         0          1       1

In [ ]:
data = []
for i in range (30):
  data.append([covidData.Temperature[i], covidData.Headache[i] , covidData.TasteBuds[i]])

In [ ]:
data

[[42.0, 0, 0],
 [48.0, 1, 0],
 [41.5, 1, 0],
 [40.6, 0, 1],
 [45.3, 0, 0],
 [42.6, 1, 0],
 [50.9, 1, 0],
 [41.1, 0, 0],
 [45.7, 0, 1],
 [39.8, 0, 0],
 [39.7, 0, 0],
 [49.1, 1, 0],
 [44.2, 1, 0],
 [44.9, 1, 0],
 [50.1, 0, 1],
 [37.0, 1, 1],
 [37.1, 0, 1],
 [37.2, 1, 1],
 [36.8, 1, 1],
 [37.5, 1, 1],
 [37.9, 1, 0],
 [37.8, 0, 1],
 [38.0, 0, 1],
 [37.4, 0, 1],
 [37.3, 1, 0],
 [37.6, 1, 1],
 [38.1, 1, 1],
 [37.7, 1, 1],
 [38.3, 1, 0],
 [38.2, 0, 1]]

In [ ]:
len(data)

30

In [ ]:
X = data
Y = covidData.Target

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [ ]:
from sklearn import tree

my_classifier = tree.DecisionTreeClassifier()

In [ ]:
my_classifier.fit(X_train , Y_train)

DecisionTreeClassifier()

In [ ]:
myPred = my_classifier.predict(X_test)

In [ ]:
myPred

array([1, 1, 0, 1, 0, 0, 1, 0, 0], dtype=int64)

In [ ]:
Y_test

23    1
15    1
8     0
25    1
5     0
14    0
20    1
7     0
9     0
Name: Target, dtype: int64

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(Y_test, myPred))

1.0